{% extends 'base.html' %}

{% block content %}

<h1>Send Test Email</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="from_email">Default 'from' email</label>
        <p>{{ from_email }}</p>
    </div>

    <div class="mb-3">
        <label for="to_email">To e-mail</label>
        <input type="email" name="to_email" id="to_email" class="form-control {% if error %}is-invalid{% endif %}" placeholder="email@site.com" value="{{ to_email }}" required>
        {% if error %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Send e-mail</button>
</form>

{% endblock %}